body{
	background-image: url('../images/Background.jpg');
	margin: 2% 0% 0% 0%;
}

div.product{
	box-shadow: 2px 2px black;
	background-color: #868c8a;
	width: 150px;
	height: 150px;
	display: inline-block;
	margin: 10px;
	line-height: 50%;
	padding-top: 120px;
	background-size: contain;
	color: black;
	text-align: center;
}

.modTable{
	height: 300px;
	margin-bottom: -1%;
	word-wrap: break-word;
}

.modTable tr{
	width: 96%;
	display: inline-table;
	table-layout: fixed;
}

.modTable tbody{
	overflow-y: scroll;  
	height: 200px;
	width: 96%;
	position: absolute;
}

.inner-addon { 
    position: relative; 
}

.inner-addon .glyphicon {
	position: absolute;
	padding: 10px;
	pointer-events: none;
}

.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.imageUpdate{
	overflow: hidden;
}

select{
	min-width: 100px;
}