body{
	background-image: url('../images/Background.jpg');
	margin: 2% 0% 0% 0%;
}

#productTable{
	height: 300px;
	margin-bottom: -5%;
}

#productTable tr{
	width: 96%;
	display: inline-table;
	table-layout: fixed;
}

#productTable tbody{
	overflow-y: scroll;  
	height: 200px;
	width: 96%;
	position: absolute;
}

.inner-addon { 
    position: relative; 
}

.inner-addon .glyphicon {
	position: absolute;
	padding: 10px;
	pointer-events: none;
}

.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.imageUpdate{
	overflow: hidden;
}